<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i>Visit our project on Github</a>
  </div>
  <div class="footer-copyright">
    This page is made with a lot of <i class="fas fa-mug-hot"></i> at BearBnB
  </div>
</div>
