<div class="home-card-container d-flex">
<% @flats = Flat.all %>
  <% @flats.each do |flat| %>
    <div class="col-md-2 mb-3">
      <%= render partial: "layouts/flat_card", locals: { flat: flat } %>
    </div>
  <% end %>
</div>
