<%= render partial: "custom_navbar" %>
<div class="row">
<% @flats = [
    {
      image_url: "https://i.pinimg.com/736x/c0/74/9b/c0749b7cc401421662ae901ec8f9f660.jpg",
      title: "Modern Flat in City Center",
      city: "Paris",
      country: "France",
      rating: 4.8,
      reviews: 123,
      distance: 2,
      available_dates: "Aug 10-15",
      price: 94,
      is_favorite: false
    },
    {
      image_url: "https://i.pinimg.com/736x/c0/74/9b/c0749b7cc401421662ae901ec8f9f660.jpg",
      title: "Cozy Cabin in the Mountains",
      city: "Zermatt",
      country: "Switzerland",
      rating: 4.7,
      reviews: 55,
      distance: 150,
      available_dates: "Aug 17-22",
      price: 78,
      is_favorite: true
    }
  ] %>
  <% @flats.each do |flat| %>
    <div class="col-md-4 mb-3">
      <%= flat[:title] %>
      <%= render partial: "/layouts/flat_card", flat: flat %>
    </div>
  <% end %>
</div>

<%= render partial: "footer" %>
