.app-button {
  display: inline-block;
  padding: 12px 30px;
  font-size: 18px;
  font-weight: 150;
  text-align: center;
  text-decoration: none;
  color: $btn-text-color;
  background-color: $btn-bg-color;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    background-color: $btn-bg-hover-color;
    transform: translateY(-2px);
  }

  &:active {
    background-color: #004085;
    transform: translateY(0);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
}


.app-button-secondary {
  display: inline-block;
  padding: 12px 30px;
  font-size: 18px;
  font-weight: 150;
  text-align: center;
  text-decoration: none;
  color: #dcdcdd;
  background-color: #060566;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  opacity: 0.5;

  &:hover {
    background-color: #05033e;
    transform: translateY(-2px);
  }

  &:active {
    background-color: #004085;
    transform: translateY(0);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
}

.back-button-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5%;
  padding-top: 10px;
}

.back-button-container img {
  max-height: 40px;
  background-color: $text-secondory-color;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
