.home-card-container {
  display: flex;
  flex-wrap: wrap;;
  justify-content: space-around;
  gap: 10px;
  padding: 20px 40px;
}

// .col-md-2 {
//   margin: 20px;
// }

.card-img-top {
  border-radius: 5px;
}

.card-body {
  margin: 0px;
  padding: 5px 0;
  line-height: 24px;
  font-size: 14px;
  color: $text-color;
  padding: 12px;
}

.description {
  margin: 0px;
}

.card-link {
  text-decoration: none;
}

.flat-card {
  box-shadow: $app-box-shadow;
  border-radius: 5px;
  background-color: white;

  // @media (max-width: 768px) {
  //   /* Styles for smaller screens (e.g., mobile) */
  //   width: 80vw
  // }

  // @media (min-width: 768px) and (max-width: 1024px) {
  //   /* Styles for medium screens (e.g., tablets) */
  //   width: 30vw
  // }

  @media (min-width: 1024px) {
    /* Styles for large screens (e.g., desktops) */
    width: 17.5vw
  }
}
