.navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 40px;
  width: auto;
}

.navbar h2 {
  margin-bottom: 0;
  margin-left: 0px;
  font-size: 1.5rem;
}
