.cancel-button-top {
  position: absolute;
  right: 8px;
  top: 5px;
  border-radius: 50%;
  background: #f8f9fa8c;
  padding: 4px 5px;
}
.cancel-button-top:hover {
  background: #f8f9fa
}
.card-product {
  justify-content: space-between;
}
.status-change {
  display :flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  padding: 5px;
}
.booking-validation-button {
  padding:8px 20px;
  text-decoration: none;
  border-radius: 8px;
  border:none;
  transition:background-color 0.3s ease, transform 0.3s ease;
}
