<h2>New Review</h2>
<%= simple_form_for [@flat, @review], html: { class: 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.input :content, as: :text, input_html: { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.input :rating, as: :numeric, input_html: { min: 1, max: 5, class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.button :submit, 'Submit Review', class: "btn btn-primary" %>
  </div>
<% end %>
